services:
  br-app:
    build: .
    image: brating:${BACKEND_VERSION:-latest}
    container_name: br-container
    ports:
      - "8083:8080"
    env_file:
      - .env
    environment:
      - TZ=Europe/Moscow
      - SPRING_DATASOURCE_URL=jdbc:postgresql://shared-db:5432/badmrating
      - SPRING_PROFILES_ACTIVE=prod
      - OUTPUT=file
      - JAVA_OPTS=-Dlocal-storage.path=/app/data -Xmx512m
    volumes:
      - /home/backend/brating/_data:/app/data
      - /var/log/brating:/app/logs
      - /home/backend/auth-service/jwt:/app/jwt
    networks:
      - shared-network

networks:
  shared-network:
    external: true
    name: docker_shared-network
