management:
  endpoints.web.exposure.include: prometheus, health, metrics
  prometheus.metrics.export.enabled: 'true'
  metrics:
    enable:
      jvm: 'true'
      percentiles-histogram:
        http.server.requests: 'true'


spring:
  application.name: badmrating
  datasource:
    url: jdbc:postgresql://hserver:5432/badmrating
    username: root
    password: 123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 3

  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml

local-storage.path: D:\devel\data\badmrating
security.roles.application-id-prefix: brating